.forest { 
  width: 200px;
  list-style: none; 
  padding-left: 1em;
  max-height: 100%;
  a { 
    color: #888; 
    text-decoration: none; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &[aria-current="page"] { 
      color: var(--gray); 
      overflow: inherit;
      white-space: inherit;
    }
    &:first-child { display: block; padding-left: 8px; }
  }
  button {
    background: none;
    border: none;
    outline: none;
    width: 24px;
    &:focus { outline: none; }
  }
}

.branch { 
  margin-left: -15px;
  & > div { display: flex; align-items: baseline; }
  & > ul { list-style: none; padding-left: 2em; }
  & > div > button > i {
    transform: rotate(90deg);
    transition: transform 0.25s; 
  }
  &.closed > ul { display: none; }
  &.closed > div > button > i { transform: none; }
}

.highlighted {
  font-weight: bold;
}
