.posts {
  border: 1px solid var(--grey);

  & > div {
    border-bottom: 1px solid var(--grey);
    padding: 0.5em 1em; 

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: var(--white-ter);
    }
  }
}
