.content {
  margin: 0 1em;
  & > div:global(.section):not(:last-child) {
    border-bottom: 1px solid var(--grey);
  }
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  position: relative;
  margin-left: -1em;
  padding-left: 1em;
  & > a {
    position: absolute;
    visibility: hidden;
    left: 4px;
    text-decoration: none;
    color: var(--main);
    opacity: 0.5;
  }
  &:hover > a {
    visibility: visible;
  }
}

.side-tree {
  position: fixed;
  padding: 1em 2em;
  transition: top 0.25s;
}
