.modal {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  &.is-open {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    & .modal-box {
      flex: 0 66vh;
    }
  }
  &.is-closed {
    width: 100%;
    bottom: 0;
    & .modal-box {
      padding: 0 1em;
      & > div {
        padding: 0 1em;
        margin: 0 auto;
      }
    }
    & .modal-body {
      display: none;
    }
  }
}

.modal > :global(.columns) {
  height: 100%;
  margin: 0;
  & > :global(.column) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 1em;
  }
}

.modal-gap {
  flex: 1 0 80px;
}

.modal-box {
  padding: 1em;
  padding-bottom: 0;
  max-height: 66vh;
  flex-shrink: 1;
  flex-grow: 0;
  & > div {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1em;
    padding-bottom: 0;
    margin: 0 auto;
  }
}

.modal-header {
  background: var(--info);
  color: white;
  font-size: 16pt;
  padding: 0.5em;
  border: 1px solid var(--grey);
  border-bottom: none;
  .button {
    float: right;
    transform: translate(0, 5px);
    transition: transform 0.25s;
    &.is-open {
      transform: rotate(180deg) translate(0, -2.5px);
    }
    &:hover > * {
      transform: scale(110%);
    }
    & > * {
      transition: transform 0.25s;
    }
  }
}

.modal-body {
  display: flex;
  flex-direction: column;
  background: var(--white-bis);
  padding: 1em;
  border: 1px solid var(--grey);
  border-top: none;
  border-bottom: none;
  flex-grow: 1;
}

.comment-text {
  background: var(--white-bis);
  & > div:first-child {
    padding: 0.5em;
    border-bottom: 1px dashed var(--grey);
  }
  & > div:last-child {
    padding-left: 0.5em;
    font-size: small;
  }
  border: 1px solid var(--grey);
}

.comment-body {
  margin: 1em 0 1em 0.5em;
  padding: 0 1em;
  & > span {
    color: var(--info);
  }
  &.with-children {
    margin-bottom: 0;
  }
}

.comment-children {
  border-left: 2px solid var(--info);
  margin-left: 1.5em;
  padding-top: 0.25em;
}
